body {
    text-align: center;
    font-family: Georgia;
}

.master-container {
    min-height: 100%;
}

.top-spacer {
    height: 5%;
}

.header-container {
    /* background-color: rgb(173, 173, 173); */
    padding: 0.3%;
}

.title {
    /* background-color: rgb(148, 148, 223); */
    color: rgb(61, 61, 61);
    margin-bottom: 2em;
}

.description-container {
    max-width: 800;
    margin: auto;
}

#description-note {
    font-style: italic;
    color: rgb(255, 22, 22);
}

#description {
    color: rgb(44, 44, 44);
}


/* Tooltip Style

#tooltip {
    position: absolute;
    height: auto;
    width: 200px;
    padding: 10px;
    background-color: #f5f5f5;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 4px 4px 10px rgba(0,0,0,0.4);
    -moz-box-shadow: 4px 4px 10px rgba(0,0,0,0.4);
    box-shadow: 4px 4px 10px rgba(0,0,0,0.4);
    pointer-events: none;
}

#tooltip.hidden {
    display: none;
}

#tooltip p {
    margin: 0;
    font-size: 20px;
    font-weight: bold;
    font-family: sans-serif;
} */



/* Content Container CSS Styles */

.scene-changer button{
    margin-top: 0.5em;
    margin-bottom: 2em;
    margin-left: 20em;
    margin-right: 20em;
    height: 35px;
    width: 80px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    background-color: rgb(36, 53, 72);
    border-color: rgba(128, 128, 128, 0);
    border-radius: 15px;
    /* box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.736); */
    box-shadow: 0 5px #999;
}

.scene-changer button:hover {
    transition: all .2s ease;
    background-color: rgb(207, 207, 207);
    color: #1c1c1c;
}

.scene-changer button:active {
    transition: all .1s ease;
    background-color: rgb(136, 136, 136);
    color: #1c1c1c;
    box-shadow: 0 3px #666;
    transform: translateY(4px);
}

.map-button {
    margin-bottom: 1em
}

/* .map-viz {
    margin: 0 auto;
    max-width: 900;
    max-height: 600;
    padding: 10px;
    padding-bottom: 100px;
}

.map-container {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #d5ecf0;
}

.world-map {
    max-width: 900;
    max-height: 600;
} */


.axis-parameter input{
    margin-left: 4em;
    margin-right: 4em;
    margin-bottom: 1em;
}


.axis-parameter button{
    
    height: 20px;
    width: 50px;
    font-size: 9;
    color: rgb(255, 255, 255);
    font-weight: bold;
    background-color: rgb(36, 53, 72);
    border-color: rgba(128, 128, 128, 0);
    border-radius: 15px;
    /* box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.736); */
    box-shadow: 0 5px #999;
}

.axis-parameter button:hover {
    transition: all .2s ease;
    background-color: rgb(207, 207, 207);
    color: #1c1c1c;
}

.axis-parameter button:active {
    transition: all .1s ease;
    background-color: rgb(136, 136, 136);
    color: #1c1c1c;
    box-shadow: 0 3px #666;
    transform: translateY(4px);
}


.footer {
    right: 2%;
    bottom: 1%;
    font-size: 13px;
}


.country {
    /* fill: #57af61; */
    /* fill: rgb(152, 196, 152); */
    fill: rgb(213, 236, 213);
    stroke: rgb(27, 27, 27);
}

.selected {
    fill:  rgba(56, 56, 56, 0.733);
}

#graph {
    background-color: #f7f7f7;
    margin: 0 auto;
    box-shadow: -2px 2px 10px 3px rgba(0, 0, 0, 0.223);
    border-radius: 6px;
    /* color: rgb(255, 51, 51); */
}


